@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --background: #f7f7f7;
  --txtHoverBlue: #5880ad;
  --txtColor: #0d1136;
  --activeButton: #134b8a;
}
